mixin image(path, src, className)
    -
        var img576 = path + "576/" + src
        var img768 = path + "768/" + src
        var img992 = path + "992/" + src
        var img1200 = path + "1200/" + src

    picture
        source(data-srcset=img576 media="(max-width: 576px)")
        source(data-srcset=img768 media="(max-width: 768px)")
        source(data-srcset=img992 media="(max-width: 992px)")
        source(data-srcset=img1200 media="(max-width: 1200px)")
        img(data-src=img1200)
        noscript
            img(src=img1200)
