---
interface Props {
  slug: string;
  title: string;
  thumbnail: string;
  thumbnailAlt: string;
  loading?: 'lazy' | 'eager';
}

const { slug, title, thumbnail, thumbnailAlt, loading = 'lazy' } = Astro.props;
---

<div class="gallery__items">
  <a href={`/${slug}.html`}>
    <figure>
      <img
        src={`/images/${thumbnail}`}
        alt={thumbnailAlt}
        loading={loading}
        width="576"
        height="384"
      />
      <noscript>
        <img src={`/images/${thumbnail}`} loading={loading} />
      </noscript>
      <figcaption>{title}</figcaption>
    </figure>
  </a>
</div>
