block variables
- var path = self.htmlWebpackPlugin.options
- var pathToFile = (path.mode == 'development') ? "./sources/" : ""

doctype html
html(lang="pl", dir="ltr" itemscope itemtype="http://schema.org/WebPage")

    include ./includes/head.pug
    include ./includes/header.pug
    include ./includes/svgLogo.pug

    head
        +head(path.file)

    body

        +svgLogo()
        +header()

        main(class="container home")
            .body
                div.gallery
                    each val, i in path.file.items
                        div.gallery__items
                            a(href=val.href)
                                figure
                                    img(class="gallery__img" data-src=(pathToFile+val.img), alt=val.alt)
                                    figcaption
                                        div.gallery__overlay
                                        div.gallery__text
                                            = val.text

        script(type='application/ld+json').
            {
                "@context": "http://schema.org/",
                "@type": "Blog",
                "publisher": "grzegorztomicki.pl",
                "author": "#{path.file.schema.author}",
                "datePublished": "#{path.file.schema.datePublished}",
                "dateModified": "#{path.file.schema.dateModified}",
                "headline": "Blog fotograficzny"
            }

        include ./includes/footer.pug
        include ./includes/backToTop.pug